option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: '8000'
    DISABLE_LINKEDIN: '1'
    CORS_ORIGINS: 'https://wms-virid-six.vercel.app,http://localhost:5173'
  aws:elasticbeanstalk:container:docker:
    ContainerPort: '8000'
  aws:elasticbeanstalk:environment:process:default:
    Port: '8000'
    Protocol: HTTP
    HealthCheckPath: /health
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
